<% provide(:title, "Dashboard")%>
<h1>Bike Train Community</h1>
<div class="row">
	<div class="span12">
		<h3><%= image_tag current_user.photo.url(:small), size: "50x50" %>  Welcome Back, <%= current_user.name %>!</h3>

		<%= link_to "Find a Group", groups_path, class: "btn btn-large btn-primary" if signed_in?%>		
		<%= link_to "Start a Group", signup_path, class: "btn btn-large btn-primary" if signed_in?%>		
	</div>
</div>
