<div class="row">
	<span>Street:</span>
	<span>
		<input type="text" placeholder="" name="home_street"  value="" title="Street:" maxlength="53"  id="home_street" /> 
	</span>
</div>
<div class="row">
	<span>City:</span>
	<span>
		<input type="text" name="home_city" id="home_city" value="" title="City:" class="w350" maxlength="70"  onchange="codeAddress_start()" /> 
	</span>
</div>
<div class="row">
	<span class="cell_150">State/Province:</span>
	<span class="cell_400">
		<input type="text" name="home_state_prov" id="home_state_prov" value="" title="State/Province" size="3" maxlength="3"  onchange="codeAddress_start()" /> 
		Zip/Postal:
		<input type="text" name="home_postal_zip" id="home_postal_zip" value="" title="Zip/Postal:" size="15" maxlength="15"  onchange="codeAddress_start()"/>
	</span>
</div>
